@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1C1E26;
  --foreground: #DEDEDD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1E26;
    --foreground: #DEDEDD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 40px;
}

/* globals.css */
.flex-grow {
  flex-grow: 1;
}