@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DEDEDD;
  --foreground: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --foreground: #DEDEDD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  margin: 40px;
}
